.contact {
  padding: 5px;
  width: 200px;
  display: flex;

  align-items: center;
  height: 80px;
}
.button {
  display: flex;
  cursor: pointer;
  padding: 2px;
}
.contactData {
  padding: 2px;
}
.icon {
  margin-right: 5px;
}
