:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  min-width: 320px;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
